{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@config": "./src/config",
          "@utils": "./src/utils",
          "@pages": "./src/pages",
          "@routes": "./src/routes"
        }
      }
    ]
  ]
}
